body {
  background-color: var(--color-bg);
}
a {
  color: unset;
  text-decoration: none;
}
.gradiend__bg {
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  background: -o-linear-gradient(
    90deg,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040C18', endColorstr='#002853', GradientType=0 );

  background: -ms-linear-gradient(
    90deg,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
}
.gradient__text {
  background: -moz-linear-gradient(
    90deg,
    rgba(174, 103, 250, 1) 0%,
    rgba(244, 152, 103, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(174, 103, 250, 1) 0%,
    rgba(244, 152, 103, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(174, 103, 250, 1) 0%,
    rgba(244, 152, 103, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F49867', endColorstr='#AE67FA', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(174, 103, 250, 1) 0%,
    rgba(244, 152, 103, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(174, 103, 250, 1) 0%,
    rgba(244, 152, 103, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li {
  list-style: none;
}
